/* ************** */
/* THE AIM MIXINS */
/* ************** */

/* CROSS-BROWSER */
/* ------------- */
/* All styles below will work 100% cross-browser when used seperately. Two styles used together may not work in IE */

/* Path to PIE */
.pie { behavior: url(pie/PIE.htc); }

/* Only linear gradient with no stops to make it cross-browser compliant */
.gradient(@startcolor, @endcolor){
  background: @startcolor; /*fallback for non-CSS3 browsers*/
  background: -webkit-gradient(linear, 0 0, 0 100%, from(@startcolor) to(@endcolor)); /*old webkit*/
  background: -webkit-linear-gradient(@startcolor, @endcolor); /*new webkit*/
  background: -moz-linear-gradient(@startcolor, @endcolor); /*gecko*/
  background: -ms-linear-gradient(@startcolor, @endcolor); /*IE10*/
  background: -o-linear-gradient(@startcolor, @endcolor); /*opera 11.10+*/
  background: linear-gradient(@startcolor, @endcolor); /*future CSS3 browsers*/
  -pie-background: linear-gradient(@startcolor, @endcolor); /*PIE*/
  .pie;
}

/* Round corners - all */
.radius_all(@radius) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
  .pie;
}

/* Round corners - top */
.radius_top(@radius) {
  -moz-border-radius: @radius @radius 0 0;
  -webkit-border-radius: @radius @radius 0 0;
  border-radius: @radius @radius 0 0;
  .pie;
}

/* Round corners - bottom */
.radius_bottom(@radius) {
  -moz-border-radius: 0 0 @radius @radius;
  -webkit-border-radius: 0 0 @radius @radius;
  border-radius: 0 0 @radius @radius;
  .pie;
}

/* Transparent bg color */
.transparent(@bg_color, @alpha) {
  background-color: @bg_color;
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @alpha; 
  @ie_alpha: @alpha*100; /* IE8 */
  filter: alpha(opacity=@ie_alpha); /* IE8 */
}

/* Just opacity. For images or something */
.opacity(@opacity) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @alpha; 
  @ie_alpha: @alpha*100; /* IE8 */
  filter: alpha(opacity=@ie_alpha); /* IE8 */
}

/* Box shadow. Be sure to set a seperate background-color for IE8 or your element will assume the color of your shadow */
.box_shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
  .pie;
}


/* NOT CROSS-BROWSER */
/* ----------------- */
/* Meaning not IE */

/* Rotate. Works for IE9 but not IE8- */
.rotation(@deg:5deg){
  -webkit-transform: rotate(@deg); /* Safari & Chrome */
  -moz-transform: rotate(@deg); /* Firefox */
  -ms-transform:rotate(@deg); /* IE9 */
  -o-transform:rotate(@deg); /* Opera */
  transform: rotate(@deg);
}

/* Scale. Works for IE9 but not IE8- */
.scale(@ratio:1.5){
  transform: scale(@ratio);
  -ms-transform: scale(@ratio); /* IE 9 */
  -webkit-transform: scale(@ratio); /* Safari and Chrome */
  -o-transform: scale(@ratio); /* Opera */
  -moz-transform: scale(@ratio); /* Firefox */
}

/* Translate. Moves an element according to the parameters given. Works for IE9 but not IE- */
.translate(@x:0, @y:0) {
  transform: translate(@x, @y);
  -ms-transform: translate(@x, @y); /* IE 9 */
  -webkit-transform: translate(@x, @y); /* Safari and Chrome */
  -o-transform: translate(@x, @y); /* Opera */
  -moz-transform: translate(@x, @y); /* Firefox */
}