/* the Semantic Grid System - Awesomeness! */

@import 'grid.less';
@import 'mixins.less';

@columns: 12;
@column-width: 73;
@gutter-width: 20;
@total-width: 100%; /* Fluid - schrap de total-width voor fixed width designs */

/* Fonts - replace with / add your own */

@font-face {
    font-family: 'RockoUltraFLFRegular';
    src: url('../fonts/rockoultraflf-webfont.eot');
    src: url('../fonts/rockoultraflf-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rockoultraflf-webfont.woff') format('woff'),
         url('../fonts/rockoultraflf-webfont.ttf') format('truetype'),
         url('../fonts/rockoultraflf-webfont.svg#RockoUltraFLFRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* COMMON CSS */

@grey: #555555;

.right { float: right; }
.left { float: left; } 
.bold { font-weight: bold; }

article, aside, header, nav, section { display: block; }

img { border: 0px; }
iframe { border: 0px; }
fieldset { border-width: 0px; }

.clearfix:after { content: "."; display: block; height: 0;  clear: both; visibility: hidden; } /* Clearfix */
.clearfix { display:block; } /*opera & safari */

#admin-menu { position: fixed !important; } /* Fixed admin menu */
#admin-menu:hover{ top: 0px; }

/* Admin stuff */

div.contextual-links-wrapper { z-index: 1; }

/* For different resolutions */

@media only screen
and (max-width: 519px) {
  /* Single Fluid Width Column (iPhone) */
}
 
@media only screen
and (min-width: 520px)
and (max-width: 759px) {
  /* Single Fixed Width Column */
}
 
@media only screen
and (min-width: 760px)
and (max-width: 959px) {
  /* Two Fixed Width Columns, Medium Padding (iPad) */
}
 
@media only screen 
and (min-width: 960px) {
  /* Two Fixed Width Columns, Large Padding (Desktop) */
}

/* ********************************* */
/* SITE-SPECIFIC CSS - BUILD ON THIS */
/* ********************************* */

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.font { font-family: Arial; font-size: 12px; }

h1 { .font; font-size: 16px; }

header nav { .column(9); }

body { .font; }

header { .gradient(#000000, #ffffff); }