.modal {
	/*
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#cccccc');
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=315, Color='#cccccc');
	*/
	zoom: 1;

	filter: progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=10, Direction=0),
		progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=10, Direction=90),
		progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=10, Direction=180),
		progid:DXImageTransform.Microsoft.Shadow(Color=#cccccc, Strength=10, Direction=270);
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=135, Color='#cccccc')";
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=315, Color='#cccccc')";
}