/* Less Powah! - create variables here */

@color: #fff;

/* the Semantic Grid System - Awesomeness! */

@import 'grid.less';

@columns: 12;
@column-width: 73;
@gutter-width: 20;
@total-width: 100%; /* Fluid - schrap de total-width voor fixed width designs */

/* Classes - even more Powah! - Add your own! */

.radius(@radius) {
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

.transition(@dur: 1s, @what: all) {
	-webkit-transition: @what @dur ease-in-out;
	-moz-transition: @what @dur ;
	-o-transition: @what @dur ease-in-out;
	transition: @what @dur ease-in-out;
}

.trans(@props: 1s ease-in-out) {
	transition: transform @props;
	-webkit-transition: -webkit-transform @props;
	-moz-transition: -moz-transform @props;
	-o-transition: -o-transform @props;
}

.rotate(@deg: 10deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
	-o-transform: rotate(@deg);
}

.textShadow(@color, @horizontalOffset, @verticalOffset, @blur) {  
    -moz-text-shadow: @color @horizontalOffset @verticalOffset @blur;  
    -webkit-text-shadow: @color @horizontalOffset @verticalOffset @blur;  
    /* 
        filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=@horizontalOffset, OffY=verticalOffset, Color='@color', Positive='true'); 
        -ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=@horizontalOffset, OffY=verticalOffset, Color='@color', Positive='true')"; 
        *zoom: 1; 
    */  
  
    text-shadow: @color @horizontalOffset @verticalOffset @blur;  
}

.gradient(@startcolor, @endcolor){
	background: -webkit-gradient(linear, left top, left bottom, from(@startcolor), to(@endcolor)); /* for webkit browsers */
	background: -moz-linear-gradient(top, @startcolor,  @endcolor); /* for firefox 3.6+ */ 
	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr="@startcolor~", EndColorStr="@endcolor~")";
}



.fonts() {
	font-family: "Century Gothic", "Lucida Sans", Arial;
}
.daniel() {
	font-family: 'DanielRegular';
}

.btn() {
	display: block;
	width: auto;
	padding: 2px 12px 2px 30px;
	background-color: #ddd;
	box-shadow: 0px 1px 2px #999;
	color: #fff;
	text-shadow: 0px 1px 1px #888;
	font-weight: bold;
	cursor: pointer;
	float: left;
	.radius(20px);
	&:hover {
		box-shadow: 0px 2px 2px #999;
	}
	&:active {
		box-shadow: 0px 1px 0px #999;
	}
}

/* Fonts */

@font-face {
	font-family: 'DanielRegular';
	src: url('daniel-webfont.eot');
	src: local('â˜º'), url('../fonts/daniel-webfont.woff') format('woff'), url('../fonts/daniel-webfont.ttf') format('truetype'), url('../fonts/daniel-webfont.svg#webfontqMGtI1M3') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* CSS */

.right, .floatright{ float:right; }

h1 {
	.fonts();
	font-style: italic;
	position: absolute;
	top: 98%;
	margin-left: -30%;
	left: 50%;
	width: 60%;
	text-align: center;
	color: #ccc;
	font-size: 12px;
}

input[type=submit] {
	-webkit-appearance: none;
}

article, aside, header, nav, section { display: block; }

img { border: 0px; }
iframe { border: 0px; }
fieldset { border-width: 0px; }

.clearfix:after {content: "."; display: block; height: 0;  clear: both; visibility: hidden;} /* Clearfix */
.clearfix {display:inline-block;} /*ie7 doesn't validate - but fixes the prob ...*/
.clearfix {display:block;} /*opera & safari */

#admin-menu { position: fixed !important; } /* Fixed admin menu */
#admin-menu:hover{ top: 0px; }

.logo {
    color: @color;
	a:link, a:visited { color: #0D4546; }
	a:link:hover { text-decoration: none; }
}

/* Admin stuff */

nav.tabs {
	position: absolute;
	left: -50px;
	background: #fff;
	background: rgba(255,255,255,0.9);
	padding: 2px;
	border: 1px solid #ccc;
	overflow: hidden;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	opacity: 0;
	.transition(0.5s);
	ul {
		margin: 0px;
		padding: 0px;
		a {
			color: #555;
			display: block;
			padding: 2px 5px;
			text-decoration: none;
			&:hover {
				background: #555;
				color: #fff;
			}
		}
	}
}

section:hover > nav.tabs, article:hover > nav.tabs, div:hover > nav.tabs {
		left: 0px;
		opacity: 1;
}

div.contextual-links-wrapper {
	position: relative;
	float: right;
}

div.contextual-links-wrapper, div:hover > div > a.contextual-links-trigger, footer:hover > div > a.contextual-links-trigger {
	display: block;
}


/* Fix internet explorer indien nodig */

.ie7 {
	/* Alles voor IE7 */
}

.ie8 {
	/* Alles voor IE8 */
}


/* Voorbeeldcode - delete deze comment gerust */

.container {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
}

header nav {
	.column(9);
}

header .header_right {
	.column(3);
}


/* Verschillende schermgroottes */

@media only screen
and (max-width: 519px) {
 /* Single Fluid Width Column (iPhone) */
}
 
@media only screen
and (min-width: 520px)
and (max-width: 759px) {
  /* Single Fixed Width Column */
}
 
@media only screen
and (min-width: 760px)
and (max-width: 959px) {
  /* Two Fixed Width Columns, Medium Padding (iPad) */
}
 
@media only screen 
and (min-width: 960px) {
  /* Two Fixed Width Columns, Large Padding (Desktop) */
}